{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h2>{{ .Title }}</h2>

        Swing by <strong>{{ .Params.location }}</strong> on
        <strong>{{dateFormat "Monday, Jan 2, 2006" .Date}}</strong> at 
        <strong>{{ .Params.time }}</strong> to {{ .Params.description }}!  

        <center>
          {{ partial "event_socials.html" . }}
        </center>

      </div>
    </div>
  </div>
</div>
{{ end }}
