<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/owl.carousel.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/owl.theme.default.min.css" | absURL }}">
<link href="{{ "css/style.blue.css" | absURL }}" rel="stylesheet" id="theme-stylesheet">
<link href="{{ "css/custom.css" | absURL }}" rel="stylesheet">
