{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">

        {{ $files := readDir (print "/static" .Params.ImageDir) }}
        {{ $imageDir := .Params.ImageDir }}
        {{ $baseUrl := .Site.BaseURL }}
        <center>
          <div class="your-class">
            {{ range $files }}
            <img src="{{ $baseUrl }}/{{ $imageDir }}/{{ .Name }}" alt="{{ .Name }}">
            {{ end }}
          </div>
        </center>

        <script type="text/javascript">
          $(document).ready(function(){
            $('.your-class').slick({
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 2500,
              arrows: false
            });
          });
        </script>

         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
